<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="login-box" id="app">
    <h2>Login</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="" v-model="email">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="" v-model="password">
            <label>Password</label>
        </div>
        <a href="#" @click="login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
            <a th:href="@{/register}">Create an account</a>
        </a>
<!--        <button type="button" @click="login">Submit</button>-->
<!--        <a th:href="@{/register}">Create an account</a>-->
    </form>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            login() {
                var _this = this;
                axios({
                    method: 'post',
                    url: 'http://localhost:8082/login',
                    params: {
                        email: _this.email,
                        password: _this.password
                    }
                }).then(resp => {
                    var code = resp.data.code;
                    if (code == 200) {
                        alert("Login success");
                    } else {
                        alert("Login failed");
                    }
                })
            }
        }});
</script>
</html>